body{
    background-color: #faf1f6 ;
}

hr {
    /*background-color: white;*/
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    height: none;
    width: 10%;
}
img {
    height: 200px;
    width: 200px;
}

h1{
    color: #0589bd;
}
h3{
    color: #0589bd;
}